.plasma-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.plasma-container canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}
